.label {
  display: inline-block;
  margin-right: 20px;
}

.label__inner {
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    width: 6rem;
  }
	
}

.input {
  border: 0.15rem solid transparent;
  background-color: #edf0f46c;
  width: 15rem;
  height: 1.5rem;
  font-size: 1rem;
 
}

.input:focus {
  outline: none;
  border-bottom: 0.15rem solid rgb(78, 110, 230);
  box-shadow: 0 0 0.25rem  rgba(78, 111, 230, 0.512);
  border-radius: 0.25rem;
}